@page
@model RPDemoApp.Pages.Orders.DeleteModel
@{
    ViewData["Title"] = "Delete Order";
}

@if (@Model.Order is null)
{
    <h1>The Order Was Not Found</h1>
}
else
{
    <h1>Delete Order</h1>

    <form method="post">
        <p>
            Are you sure you want to delete the order made by @Model.Order.OrderedBy on 
            <time datetime="@Model.Order.Date.ToString("s")">@Model.Order.Date</time>?
        </p>
    <input asp-for="Id" value="@Model.Id" hidden>
    <div>
        <input type="submit" value="Delete Order" class="btn btn-danger">
    </div>
</form>
}